* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Styla bakgrunden och centrera innehållet */
body {
    display: flex;
    justify-content:center;
    height: 100vh;
    margin:0;
    background-image: url('/Css/F25S-BILDER/wp3937365.jpg');
}

/* Styla inloggningsrutan */
.container {  
    position: fixed;
    width: 420px;
    height: 500px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    color: white;
    border-radius: 12px;
    padding: 30px 40px;
    backdrop-filter: blur(15px);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 2px 3px 25px 3px rgb(1, 5, 5);
}

/* Stil för rubrik */
.container h1 {
    font-family: Georgia, serif;
    text-align: center;
    margin-bottom: 20px;
}

/* Stil för texten under rubriken */
.container .p1 {
    font-family: Georgia, serif;
    text-align: center;
    margin-bottom: 20px;
}

/* Stil för inmatningsfälten */
.container input {
    height: 40px;
    width: 100%;
    padding-left: 20px;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    font-size: 18px;
    border-radius: 25px;
    margin-bottom: 15px; 
    background: transparent;
    color: white;
}

/* Ändra kantfärg vid hover */
.container input:hover {
    border: 2px solid rgb(114, 207, 250);
}

/* Stil för "Kom ihåg mig" och "Glömt lösenord?" */
.container .remember-forgot {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    margin-bottom: 20px; 
}

.container #remember {
    width: 16px;
    height: 16px;
    margin-right: 10px;
}

/* Stil för "Glömt lösenord?"-länk */
.container .forgot {
    font-size: 16px;
    color: rgba(52, 252, 185, 0.692);
    text-decoration: none; 
}

.container .forgot:hover {
    color: purple;
    text-decoration: underline;
}

/* Stil för knappen "Logga in" */
.container .btn {
    color: black;
    height: 40px;
    width: 100%;
    margin-top: 15px;
    border: 2px solid rgba(255, 255, 255, 0.562);
    font-size: 18px;
    border-radius: 25px;
    background-color: white;
}

.container .btn:hover {
    border: 2px solid rgb(114, 207, 250);
}

.container .medlem {
    text-align: center;
    margin: 15px;
}

/* Stil för registreringsknappen */
.container .rgstr {
    background-color: transparent;
    color: white;
    height: 40px;
    width: 100%;
    border: 2px solid rgba(52, 252, 185, 0.404);
    font-size: 18px;
    border-radius: 25px;
}

.container .rgstr:hover {
    border: 2px solid rgb(114, 207, 250);
}
